/* ProductDetail.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.productinfo {
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.imageSlider {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;

}

.sliderButton {
  font-size: 24px;
  height: 2rem;
  width: 2rem;
  color: #007bff;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

.sliderButton:hover {
  /* background-color: rgba(0, 123, 255, 0.7); */
}

.productImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.productImage:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}

.productTitle {
  font-size: 24px;
  margin: 20px 0;
  color: #333;
}

.productDescription {
  font-size: 16px;
  color: #555;
}

.productDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.productDetails p {
  flex: 1;
  margin: 10px;
  font-size: 16px;
  color: #555;
}

.cartButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cartButton:hover {
  background-color: #0056b3;
}
